In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('../recordFPT - recode/base/4process_25Nov.xlsx')

In [3]:
df.head(5)

,STT,DV_Số điện thoại,DV_Số hợp đồng,DV_Dịch vụ,TT_Vùng,TT_Giới tính,TT_Nhóm tuổi,TT_Mức độ am hiểu,TT_Mục đích sử dụng,TT_Thời gian sử dụng,TT_Note,KL_Nội dung hỗ trợ,KL_flow,KL_Issue,KL_Success,KL_Warning,KL_Consideration,KL_Đánh giá NV + đề xuất
0,1,0364222221,HNAAC5070,Giga,Hà Nội,Nữ,18 - 35,Có hiểu biết,-,31.0,-,Thanh lý hợp đồng internet,n12=s1>ds1\s2>ds3\s3>dx5\nn34=s1>hd5,NaN,NaN,NaN,NaN,NaN
1,2,0337762428,HNAAF0715,Sky,Hà Nội,Nam,18 - 35,Thấp,-,31.0,KH say ke,Thanh lý hợp đồng internet,n00=s1>ds1+dx4\nn10=s1>ds3\s2>ds1\s3>ll3+dx5\n...,NaN,NaN,NaN,NaN,NaN
2,3,0973641746,HNAAG3366,Giga,Hà Nội,Nam,35 - 65,Có hiểu biết,-,30.0,-,Tạm ngưng hợp đồng internet,n00=s1>gt1+ds1\nn22=s1>ll3+dx4\s2>dx5\nn34=s1>...,NaN,NaN,NaN,NaN,NaN
3,4,0912277171,HNAAJ5017,Giga,Hà Nội,Nam,35 - 65,Có hiểu biết,-,29.0,-,Thanh lý hợp đồng internet,n16=s1>ds4+dx5\s2>ll4+dx5\nn34=s1>hd1+hd5,NaN,NaN,NaN,NaN,NaN
4,5,0916206466,HNJ093207,Giga,Hà Nội,Nam,18 - 35,Có hiểu biết,-,36.0,-,Thanh lý hợp đồng internet,n00=s1>ds1\s2>ds3+dx4\nn12=s1>ds4\nn11=s1>dx7\...,NaN,NaN,NaN,NaN,NaN

In [4]:
df = df.dropna(subset=['KL_flow'])
df['KL_flow'].isna().sum()
df.drop(columns=['STT','DV_Số điện thoại', 'DV_Số hợp đồng', 'DV_Dịch vụ',
       'TT_Vùng', 'TT_Giới tính', 'TT_Nhóm tuổi', 'TT_Mức độ am hiểu',
       'TT_Mục đích sử dụng', 'TT_Thời gian sử dụng', 'TT_Note','KL_Issue', 'KL_Success', 'KL_Warning',
       'KL_Consideration', 'KL_Đánh giá NV + đề xuất'],
        inplace=True)

In [5]:
def split_and_index_kl_flow(df):
    
    df['KL_flow'] = df['KL_flow'].astype(str)

    # Create a new dataframe to store the processed data
    processed_data = []
    
    # Iterate through each row in the original dataframe
    for idx, row in df.iterrows():
        # stt = row['STT']
        kl_flow = row['KL_flow']
        
        # Split the KL_flow into multiple lines based on '\n'
        flow_lines = kl_flow.split('\n')
        
        # Iterate through each flow line and create sub_ids
        for sub_id, flow in enumerate(flow_lines, start=1):
            new_row = row.copy()  # Copy the row to keep other columns the same
            # new_row['sub_id'] = f"{stt}.{sub_id}"  # Create sub_id by combining STT and sub_id
            new_row['KL_flow'] = flow  # Assign the current flow line to KL_flow
            processed_data.append(new_row)
    
    # Convert the processed data into a new DataFrame
    processed_df = pd.DataFrame(processed_data)
    
    # Reorder columns: Insert sub_id right after STT
    cols = list(processed_df.columns)
    # cols.insert(1, cols.pop(cols.index('sub_id')))  # Move sub_id to be the second column
    processed_df = processed_df[cols]
    
    # Reset the index
    processed_df.reset_index(drop=True, inplace=True)
    
    return processed_df

In [6]:
df = split_and_index_kl_flow(df)

In [7]:
def extract_issue(df):
    # Create a list to store split_flow values
    split_flow_list = []
    
    for index, row in df.iterrows():
        flow_value = row['KL_flow']
        
        # Check if the value is a string and not NaN
        if isinstance(flow_value, str):
            split_flow = flow_value.split("=", 1)[0]
            
            if "#" in split_flow:
                split_flow = split_flow.replace("#", "")

            if "[" in split_flow:
                split_flow = split_flow.split("[", 1)[0]
                
            split_flow_list.append(split_flow)  # Append to the list
        else:
            split_flow_list.append(None)  # Append None for invalid values
            print(f"Row {index}: Invalid Flow value (not a string): {flow_value}")

    # Add the new column to the DataFrame
    df['Reason'] = split_flow_list

    return df

In [8]:
df = extract_issue(df)

In [9]:
df

,KL_Nội dung hỗ trợ,KL_flow,Reason
0,Thanh lý hợp đồng internet,n12=s1>ds1\s2>ds3\s3>dx5,n12
1,Thanh lý hợp đồng internet,n34=s1>hd5,n34
2,Thanh lý hợp đồng internet,n00=s1>ds1+dx4,n00
3,Thanh lý hợp đồng internet,n10=s1>ds3\s2>ds1\s3>ll3+dx5,n10
4,Thanh lý hợp đồng internet,n34=s1>hd1+hd5,n34
...,...,...,...
1234,Thanh lý hợp đồng truyền hình trong combo,n21[truyền hình]=s1'>ll2+ds2,n21
1235,Thanh lý hợp đồng truyền hình trong combo,n20[internet]=s1'>gt3+dx9[combo giga cộng tru...,n20
1236,Thanh lý hợp đồng truyền hình trong combo,n21#[truyền hình]=s1!>ll1+ll2+ll16+gt1,n21
1237,Thanh lý hợp đồng truyền hình trong combo,n50=s1>ds1\s2>ll3+ll5>s3>dx10[6+1 hoặc 12+2],n50
1238,Thanh lý hợp đồng truyền hình trong combo,n26=s1^>dx7+gt3+dx10,n26

In [10]:
def extract_result(df):

    updated_df = df.copy()
    
 
    updated_df['Result'] = 'Không thành công'
    
    # Duyệt qua các dòng và xác định kết quả với thứ tự ưu tiên ' > ^ > !
    for index, row in updated_df.iterrows():
        if "'" in row['KL_flow']:
            updated_df.at[index, 'Result'] = "Thành công"
        elif '^' in row['KL_flow']:
            updated_df.at[index, 'Result'] = "Cân nhắc"
        elif '!' in row['KL_flow']:
            updated_df.at[index, 'Result'] = "Lưu ý"
    
    return updated_df

In [11]:
df = extract_result(df)

In [12]:
df.drop(columns=["KL_flow"], inplace=True)

In [13]:
def calculate_reason_statistics(df):
    # Đếm số lần xuất hiện của mỗi "Reason"
    reason_counts = df['Reason'].value_counts().reset_index()
    reason_counts.columns = ['Reason', 'Số lần xuất hiện']

    # Tính tỷ lệ phần trăm và tỷ lệ tích lũy
    reason_counts['Tỷ lệ phần trăm'] = (reason_counts['Số lần xuất hiện'] / reason_counts['Số lần xuất hiện'].sum()) * 100
    reason_counts['Tỷ lệ tích lũy'] = reason_counts['Tỷ lệ phần trăm'].cumsum()

    # Đếm số lần xuất hiện của từng Result cho mỗi Reason
    result_counts = df.groupby(['Reason', 'Result']).size().unstack(fill_value=0)

    # Tính tỷ lệ thành công và tỷ lệ cân nhắc
    result_counts['Tỷ lệ thành công'] = (result_counts['Thành công'] / result_counts.sum(axis=1)) * 100
    result_counts['Tỷ lệ cân nhắc'] = (result_counts['Cân nhắc'] / result_counts.sum(axis=1)) * 100

    # Thêm các cột tỷ lệ thành công và tỷ lệ cân nhắc vào bảng reason_counts
    reason_counts = reason_counts.set_index('Reason')
    reason_counts = reason_counts.join(result_counts[['Tỷ lệ thành công', 'Tỷ lệ cân nhắc']], on='Reason')

    # Reset lại chỉ mục cho dễ nhìn
    reason_counts = reason_counts.reset_index()

    return reason_counts

In [14]:
pareto_net = calculate_reason_statistics(df[df['KL_Nội dung hỗ trợ'] == 'Thanh lý hợp đồng internet'])

pareto_tvcombo = calculate_reason_statistics(df[df['KL_Nội dung hỗ trợ'] == 'Thanh lý hợp đồng truyền hình trong combo'])

In [18]:
pareto_net

,Reason,Số lần xuất hiện,Tỷ lệ phần trăm,Tỷ lệ tích lũy,Tỷ lệ thành công,Tỷ lệ cân nhắc
0,n00,135,20.209581,20.209581,6.666667,50.823529
1,n12,54,8.083832,28.293413,18.518519,28.958121
2,n01,49,7.335329,35.628743,10.204082,35.470527
3,n40,41,6.137725,41.766467,46.341463,4.579726
4,n16,34,5.089820,46.856287,11.764706,26.221080
5,n15,27,4.041916,50.898204,22.222222,22.347630
6,n20,26,3.892216,54.790419,38.461538,7.756563
7,n10,23,3.443114,58.233533,21.739130,17.881438
8,n11,22,3.293413,61.526946,9.090909,6.432749
9,n14,21,3.143713,64.670659,14.285714,8.502024
10,n52,20,2.994012,67.664671,0.000000,45.000000
11,n34,17,2.544910,70.209581,0.000000,0.000000
12,n60,15,2.245509,72.455090,60.000000,0.000000
13,n62,13,1.946108,74.401198,61.538462,2.683179
14,n19,12,1.796407,76.197605,33.333333,8.823529
15,n31,11,1.646707,77.844311,36.363636,4.222649
16,n21,11,1.646707,79.491018,27.272727,5.225653
17,n50,11,1.646707,81.137725,18.181818,13.707165
18,n23,10,1.497006,82.634731,30.000000,7.500000
19,n18,10,1.497006,84.131737,40.000000,2.000000
20,n22,8,1.197605,85.329341,12.500000,14.634146
21,n17,8,1.197605,86.526946,25.000000,0.000000
22,n61,8,1.197605,87.724551,37.500000,0.000000
23,n63,7,1.047904,88.772455,28.571429,8.433735
24,n35,6,0.898204,89.670659,0.000000,33.333333
25,n13,6,0.898204,90.568862,16.666667,17.647059
26,n44,5,0.748503,91.317365,20.000000,4.000000
27,n28,5,0.748503,92.065868,0.000000,20.000000
28,n53,5,0.748503,92.814371,0.000000,40.000000
29,n27,5,0.748503,93.562874,0.000000,60.000000
30,n43,4,0.598802,94.161677,25.000000,0.000000
31,n41,4,0.598802,94.760479,25.000000,0.000000
32,n111,4,0.598802,95.359281,75.000000,0.000000
33,n112,4,0.598802,95.958084,0.000000,50.000000
34,n42,3,0.449102,96.407186,33.333333,0.000000
35,n65,3,0.449102,96.856287,66.666667,0.000000
36,n51,2,0.299401,97.155689,0.000000,50.000000
37,n66,2,0.299401,97.455090,50.000000,0.000000
38,n26,2,0.299401,97.754491,0.000000,0.000000
39,n30,2,0.299401,98.053892,50.000000,0.000000
40,n110,2,0.299401,98.353293,0.000000,0.000000
41,n25,2,0.299401,98.652695,50.000000,1.923077
42,n113,1,0.149701,98.802395,0.000000,0.000000
43,n56,1,0.149701,98.952096,0.000000,0.000000
44,n29,1,0.149701,99.101796,100.000000,0.000000
45,n33,1,0.149701,99.251497,0.000000,100.000000
46,n54,1,0.149701,99.401198,0.000000,100.000000
47,n67,1,0.149701,99.550898,0.000000,0.000000
48,n64,1,0.149701,99.700599,0.000000,0.000000
49,n36,1,0.149701,99.850299,0.000000,0.000000
50,n45,1,0.149701,100.000000,0.000000,0.000000

In [15]:
pareto_tvcombo

,Reason,Số lần xuất hiện,Tỷ lệ phần trăm,Tỷ lệ tích lũy,Tỷ lệ thành công,Tỷ lệ cân nhắc
0,n21,137,40.412979,40.412979,56.204380,11.904492
1,n00,64,18.879056,59.292035,7.812500,52.915579
2,n25,18,5.309735,64.601770,55.555556,2.719033
3,n20,18,5.309735,69.911504,61.111111,1.264045
4,n40,15,4.424779,74.336283,53.333333,1.463415
5,n35,14,4.129794,78.466077,28.571429,2.348993
6,n01,9,2.654867,81.120944,22.222222,19.217082
7,n27,8,2.359882,83.480826,75.000000,1.204819
8,n60,8,2.359882,85.840708,50.000000,3.448276
9,n36,7,2.064897,87.905605,71.428571,0.000000
10,n30,6,1.769912,89.675516,50.000000,1.785714
11,n50,5,1.474926,91.150442,40.000000,2.222222
12,n41,5,1.474926,92.625369,80.000000,1.176471
13,n31,3,0.884956,93.510324,33.333333,2.752294
14,n62,3,0.884956,94.395280,33.333333,2.752294
15,n28,2,0.589971,94.985251,50.000000,1.923077
16,n26,2,0.589971,95.575221,0.000000,100.000000
17,n55,2,0.589971,96.165192,100.000000,0.000000
18,n23,2,0.589971,96.755162,50.000000,0.000000
19,n56,2,0.589971,97.345133,0.000000,0.000000
20,n66,1,0.294985,97.640118,0.000000,0.000000
21,n38,1,0.294985,97.935103,0.000000,0.000000
22,n15,1,0.294985,98.230088,100.000000,0.000000
23,n65,1,0.294985,98.525074,100.000000,0.000000
24,n61,1,0.294985,98.820059,100.000000,0.000000
25,n67,1,0.294985,99.115044,100.000000,0.000000
26,n39,1,0.294985,99.410029,0.000000,0.000000
27,n44,1,0.294985,99.705015,0.000000,0.000000
28,n53,1,0.294985,100.000000,0.000000,100.000000

In [17]:
output_file = 'pareto.xlsx'

with pd.ExcelWriter(output_file, engine='xlsxwriter') as writer:
    pareto_net.to_excel(writer, sheet_name='Thanh lý hợp đồng internet', index=False)
    pareto_tvcombo.to_excel(writer, sheet_name='Thanh lý hợp đồng tv combo', index=False)